#joplin-plugin-content {
    height: 100vh;
}

h1 {
    margin: 0;
}

#titlesBar {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

#moveTitleDiv {
    display: flex;
    align-items: flex-end;
    width: 8%;
}

#moveTitleButton {
    font-size: large;
    height: 35px;
    width: 100%;
}

.titleInput {
    width: 45%;
}

#titleLeft, #titleRight {
    font-size: large;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

#dialogTitle {
    font-size: 40px;
    text-align: center;
}

#dialogSubtitle {
    font-size: medium;
}

#conflictRes-Editor {
    height: 100%;
    overflow: hidden;
}