body {
    width: 1500px;
    height: 800px;
}

h1 {
    margin: 0;
}

#titlesBar {
    display: flex;
    margin-bottom: 5px;
}

.titleInput {
    width: 100%;
}

#titleLeft, #titleRight {
    font-size: large;
    padding: 5px;
    width: 98%;
}

#dialogTitle {
    font-size: 40px;
    text-align: center;
}

#dialogSubtitle {
    font-size: medium;
}

#moveTitleButton {
    font-size: large;
    width: 70px;
    height: 35px;
}

#moveTitleDiv {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    margin-left: 10px;
}