#joplin-plugin-content {
    height: 100vh;
}

h1 {
    margin: 0;
}

#titlesBar {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#moveTitleDiv {
    display: flex;
    align-items: flex-end;
    width: 8%;
}

#moveTitleButton {
    font-size: large;
    height: 35px;
    width: 100%;
}

.titleInput {
    width: 45%;
}

#titleLeft, #titleRight {
    font-size: large;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

#dialogTitle {
    font-size: 40px;
    text-align: center;
}

#dialogSubtitle {
    font-size: medium;
}

#conflictRes-Editor {
    height: 100%;
    overflow: hidden;
}

#buttonsList {
    margin-bottom: 5px;
    display: flex;
    font-size: large;
    justify-content: space-between;
}

#buttonsList button {
    width: 30px;
    height: 25px;
}

/* THEMING */
input {
    border: 1px solid var(--joplin-color);
    border-radius: 3px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
}

input:focus:enabled {
    border: 1px solid var(--joplin-color3);
    outline: none;
}

input:disabled {
    opacity: var(--joplin-disabled-opacity);
}

button {
    background-color: var(--joplin-background-color5);
    color: var(--joplin-background-color4);
    border: none;
}

button:focus {
    outline: none;
}

button:hover:enabled {
    background-color: var(--joplin-background-color-hover5);
}

button:active:enabled {
    background-color: var(--joplin-background-color-active5);
    border: none;
}


button:disabled {
    opacity: var(--joplin-disabled-opacity);
}